fastapi==0.115.6
fitz==0.0.1.dev2
Jinja2==3.1.5
numpy==1.24.3
numpy==1.24.4
opencv_contrib_python==4.10.0.84
opencv_python==4.5.5.64
opencv_python_headless==4.10.0.84
paddleocr==2.9.1
paddleocr.egg==info
paddlex==3.0.0b2
pandas==2.0.3
pdf2image==1.17.0
pdfplumber==0.11.4
Pillow==9.5.0
Pillow==11.1.0
pydantic==2.10.4
python-dotenv==1.0.1
pyzbar==0.1.9
Requests==2.32.3
uvicorn==0.34.0
weasyprint==63.1
